// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
// Stylesheets
@import 'variables/variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

*:focus {
  outline: solid 1px $coloron-primary;
  transition: 0.3s ease-in-out;
}

body {
  font-family: $body-font-family;
  font-size: 20px;
  line-height: 1.3;
  background-color: $color-primary;
  color: $coloron-primary;
  @media (max-width: 767.98px) {
    font-size: 16px;
  }
}

.link {
  text-decoration: none;
  color: $coloron-primary;

  &:active,
  &:hover {
    color: $coloron-secondary;
    transition: color 0.3s ease-in-out;
  }
}

a,
button {
  cursor: pointer;
}

// Stylesheets
@import 'header/header';
@import 'about/about';
@import 'portfolio/portfolio';
@import 'footer/footer';
