// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
// Stylesheets
@import 'variables/variables';
@import 'mixin/mixin';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

*:focus {
  outline: solid 1px $coloron-primary;
  transition: 0.3s ease-in-out;
}

body {
  font-family: $body-font-family;
  line-height: 1.3;
  background-color: $color-primary;
  color: $coloron-primary;
  @include media-breakpoint-down-sm {
    font-size: 16px;
  }
}

.link {
  text-decoration: none;
  color: $coloron-primary;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  @include media-breakpoint-down-md {
    font-size: 18px;
    transition: 0.3s ease-in;
  }
  @include media-breakpoint-down-sm {
    font-size: 14px;
    transition: 0.3s ease-in;
  }
  @include media-breakpoint-down-xs {
    font-size: 12px;
    transition: 0.3s ease-in;
  }

  &:active,
  &:hover {
    color: $coloron-secondary;
    transition: color 0.3s ease-in-out;
  }
  &:focus {
    outline: solid 1px $coloron-secondary;
    transition: 0.3s ease-in;
  }
}

.heading-secondary {
  font-size: 25px;
  @include media-breakpoint-down-md {
    font-size: 20px;
    transition: 0.3s ease-in;
  }
  @include media-breakpoint-down-sm {
    font-size: 18px;
    transition: 0.3s ease-in;
  }
  @include media-breakpoint-down-xs {
    font-size: 14px;
    transition: 0.3s ease-in;
  }
}

a,
button {
  cursor: pointer;
}

// Stylesheets
@import 'header/header';
@import 'about/about';
@import 'portfolio/portfolio';
@import 'footer/footer';
