@import '../variables/variables';

/* Header Section */
.header {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $color-secondary;
  -webkit-filter: drop-shadow(0 0 3px #88756971);
  filter: drop-shadow(0 0 3px #88756971);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    padding: 22px $padding-y-lg;
    @media only screen and (max-width: 991.98px) {
      padding-right: $padding-y-md;
      padding-left: $padding-y-md;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    @media only screen and (max-width: 991.98px) {
      gap: 15px;
      transition: 0.3s ease-in;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 5px;
    border-radius: 10px;
    @media only screen and (max-width: 991.98px) {
      font-size: 18px;
      transition: 0.3s ease-in;
    }
    @media only screen and (max-width: 767.98px) {
      font-size: 14px;
      transition: 0.3s ease-in;
    }
    &:focus {
      outline: solid 1px $coloron-secondary;
      transition: 0.3s ease-in;
    }
  }
  &__eng::before {
    content: 'English version';
    color: $coloron-primary;
    @media only screen and (max-width: 991.98px) {
      display: none;
    }
  }

  &__eng::after {
    content: url(../../img/eng.svg);
    width: 34px;
    height: 36px;
    @media only screen and (max-width: 767.98px) {
      width: 24px;
      height: 36px;
      transform: translateY(5px);
      transition: 0.3s ease-in;
    }
  }
}
