/* Portfolio Section */
.portfolio {
  display: flex;
  flex-direction: column;
  padding: 74px 61px 104px;
}
@media only screen and (max-width: 991.98px) {
  .portfolio {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 767.98px) {
  .portfolio {
    padding-top: 40px;
  }
}
.portfolio__heading {
  margin-bottom: 54px;
  line-height: 30px;
}
@media only screen and (max-width: 767.98px) {
  .portfolio__heading {
    margin-bottom: 40px;
  }
}
.portfolio__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 28px;
  column-gap: 28px;
  row-gap: 14px;
  margin-bottom: 84px;
}
@media only screen and (max-width: 767.98px) {
  .portfolio__container {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 576.98px) {
  .portfolio__container {
    display: block;
  }
}
.portfolio__card {
  grid-column: auto/span 3;
  margin-bottom: 25px;
  border-radius: 10px;
}
@media only screen and (max-width: 991.98px) {
  .portfolio__card {
    grid-column: auto/span 4;
  }
}
@media only screen and (max-width: 767.98px) {
  .portfolio__card {
    grid-column: auto/span 6;
  }
}
.portfolio__img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  width: 100%;
  height: 470px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: rgba(235, 230, 225, 0.431372549);
}
@media only screen and (max-width: 767.98px) {
  .portfolio__img {
    height: 350px;
  }
}
@media only screen and (max-width: 576.98px) {
  .portfolio__img {
    height: 250px;
  }
}
.portfolio__link {
  display: block;
  padding: 15px 20px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  background-color: rgba(235, 230, 225, 0.431372549);
}
@media only screen and (max-width: 991.98px) {
  .portfolio__link {
    font-size: 14px;
    padding: 10px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 767.98px) {
  .portfolio__link {
    font-size: 12px;
    transition: 0.3s ease-in;
  }
}
.portfolio__link_disabled {
  color: rgba(136, 117, 105, 0.0901960784);
  background-color: rgba(235, 230, 225, 0.1647058824);
  cursor: not-allowed;
}
.portfolio__link_disabled:hover {
  color: rgba(136, 117, 105, 0.0901960784);
}
.portfolio__btn {
  padding: 11px 30px;
  font-size: 14px;
  border-radius: 10px;
  background-color: rgba(235, 230, 225, 0.2);
  color: rgba(136, 117, 105, 0.2);
  border: none;
}
@media only screen and (max-width: 991.98px) {
  .portfolio__btn {
    font-size: 12px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 767.98px) {
  .portfolio__btn {
    font-size: 10px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 576.98px) {
  .portfolio__btn {
    font-size: 8px;
    transition: 0.3s ease-in;
  }
}
.portfolio__btn:focus {
  outline: solid 1px #887569;
  color: #887569;
  transition: 0.3s ease-in-out;
}
.portfolio__btn:hover, .portfolio__btn:active {
  outline: solid 1px #887569;
  color: #887569;
  transition: 0.3s ease-in-out;
}
.portfolio__btn {
  margin: 0 auto;
}/*# sourceMappingURL=portfolio.css.map */