@import '../variables/variables';

/* Portfolio Section */
.portfolio {
  display: flex;
  flex-direction: column;
  padding: 74px $padding-y-lg 104px;
  @media only screen and (max-width: 991.98px) {
    padding-right: $padding-y-md;
    padding-left: $padding-y-md;
  }
  @media only screen and (max-width: 767.98px) {
    padding-top: 40px;
  }

  &__heading {
    margin-bottom: 54px;
    font-size: 25px;
    line-height: 30px;
    @media only screen and (max-width: 991.98px) {
      font-size: 20px;
      transition: 0.3s ease-in;
    }
    @media only screen and (max-width: 767.98px) {
      font-size: 18px;
      margin-bottom: 40px;
      transition: 0.3s ease-in;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 28px;
    column-gap: 28px;
    row-gap: 14px;
    margin-bottom: 84px;
    @media only screen and (max-width: 767.98px) {
      margin-bottom: 40px;
    }
  }

  &__card {
    grid-column: auto/ span 3;
    margin-bottom: 25px;
    border-radius: 10px;
    @media only screen and (max-width: 991.98px) {
      grid-column: auto/ span 4;
    }
    @media only screen and (max-width: 767.98px) {
      grid-column: auto/ span 6;
    }
  }

  &__img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%;
    height: 470px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #ebe6e16e;
    @media only screen and (max-width: 767.98px) {
      height: 350px;
    }
  }

  &__link {
    display: block;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px;
    background-color: #ebe6e16e;
    @media only screen and (max-width: 991.98px) {
      font-size: 14px;
      padding: 10px;
      transition: 0.3s ease-in;
    }
    @media only screen and (max-width: 767.98px) {
      font-size: 12px;
      transition: 0.3s ease-in;
    }
  }

  &__link_disabled {
    color: #88756917;
    background-color: #ebe6e12a;
    cursor: not-allowed;

    &:hover {
      color: #88756917;
    }
  }

  &__btn {
    padding: 11px 30px;
    font-size: 14px;
    border-radius: 10px;
    background-color: rgba(235, 230, 225, 0.2);
    color: rgba(136, 117, 105, 0.2);
    border: none;
    @media only screen and (max-width: 991.98px) {
      font-size: 12px;
      transition: 0.3s ease-in;
    }
    @media only screen and (max-width: 767.98px) {
      font-size: 10px;
      transition: 0.3s ease-in;
    }
    @media only screen and (max-width: 767.98px) {
      font-size: 10px;
      transition: 0.3s ease-in;
    }
  }

  &__btn:focus {
    outline: solid 1px $coloron-primary;
    color: $coloron-primary;
    transition: 0.3s ease-in-out;
  }

  &__btn:hover,
  &__btn:active {
    outline: solid 1px $coloron-primary;
    color: $coloron-primary;
    transition: 0.3s ease-in-out;
  }

  &__btn {
    margin: 0 auto;
  }
}
