@import '../variables/variables';

/* About Section */
.about {
  &__top-bg {
    position: relative;
    width: 100%;
    background-color: $color-secondary;
    @media only screen and (max-width: 991.98px) {
      height: 200px;
      transition: 0.3s ease-in;
    }
  }

  &__img {
    position: absolute;
    top: 80px;
    left: $padding-y-lg;
    width: 40%;
    height: 639px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right;
    object-position: right;
    border-radius: 10px;
    @media only screen and (max-width: 991.98px) {
      top: 50px;
      right: 0;
      left: 0;
      margin: 0 auto;
      -o-object-position: center;
      object-position: center;
      width: 240px;
      height: 240px;
      border-radius: 100%;
      transition: 0.3s ease-in;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 130px $padding-y-lg;
    @media only screen and (max-width: 991.98px) {
      display: block;
      text-align: center;
      padding: 106px $padding-y-md 20px;
      transition: 0.3s ease-in;
    }
  }

  &__job {
    grid-column: 7 / span5;
    margin: 0;
    font-size: 30px;
    color: $coloron-secondary;
    @media only screen and (max-width: 991.98px) {
      font-size: 20px;
      transition: 0.3s ease-in;
    }
  }

  &__name {
    grid-column: 7 / span5;
    margin-bottom: 30px;
    font-size: 40px;
    @media only screen and (max-width: 991.98px) {
      font-size: 30px;
      transition: 0.3s ease-in;
    }
  }

  &__row {
    grid-column: 7 / span5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    row-gap: 10px;
  }

  &__education,
  &__stack {
    grid-column: 1 / span 12;
    padding: $padding-y-md 20px;
    text-align: left;
    border: 0.5px solid rgba($coloron-primary, 80%);
    border-radius: 10px;

    @media only screen and (max-width: 991.98px) {
      padding: 15px;
      transition: 0.3s ease-in;
    }
  }

  &__education {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__edu-container {
    position: relative;
    padding-left: 50px;
  }

  &__icon {
    position: absolute;
    display: block;
    left: -1px;
    background-image: url(../../img/graduation-cap.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 34px;
    height: 28px;

    @media only screen and (max-width: 767.98px) {
      width: 28px;
      height: 20px;
      transition: 0.3s ease-in;
    }
  }

  &__title {
    font-size: 18px;
    @media only screen and (max-width: 767.98px) {
      font-size: 14px;
      transition: 0.3s ease-in;
    }
  }

  &__edu-text {
    font-size: 16px;
    color: $coloron-secondary;

    @media only screen and (max-width: 767.98px) {
      font-size: 12px;
      transition: 0.3s ease-in;
    }
  }

  &__stack {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
  }

  &__stack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-right: 10px;
  }

  &__progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
    width: 65%;
    @media only screen and (max-width: 767.98px) {
      gap: 20px;
    }
  }
  &__progress {
    width: 100%;
    background-color: rgba(136, 117, 105, 0.05);
    border-radius: 10px;
    border: 1px solid rgba($coloron-primary, 30%);
  }

  &__bar {
    height: 5px;
    border-radius: 10px;
    background-color: rgba($coloron-primary, 30%);
  }
}
