/* About Section */
.about__top-bg {
  position: relative;
  width: 100%;
  background-color: #ebe6e1;
}
@media only screen and (max-width: 991.98px) {
  .about__top-bg {
    height: 180px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 576.98px) {
  .about__top-bg {
    height: 160px;
    transition: 0.3s ease-in;
  }
}
.about__img {
  position: absolute;
  top: 80px;
  left: 61px;
  width: 40%;
  height: 639px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
  border-radius: 10px;
}
@media only screen and (max-width: 991.98px) {
  .about__img {
    top: 50px;
    right: 0;
    left: 0;
    margin: 0 auto;
    -o-object-position: center;
    object-position: center;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 576.98px) {
  .about__img {
    width: 200px;
    height: 200px;
    transition: 0.3s ease-in;
  }
}
.about__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 130px 61px;
}
@media only screen and (max-width: 991.98px) {
  .about__container {
    display: block;
    text-align: center;
    padding: 120px 20px 20px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 576.98px) {
  .about__container {
    padding-top: 100px;
    transition: 0.3s ease-in;
  }
}
.about__job {
  grid-column: 7/span5;
  margin: 0;
  font-size: 30px;
  color: #baafa9;
}
@media only screen and (max-width: 991.98px) {
  .about__job {
    font-size: 20px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 576.98px) {
  .about__job {
    font-size: 18px;
    transition: 0.3s ease-in;
  }
}
.about__name {
  grid-column: 7/span5;
  margin-bottom: 30px;
  font-size: 40px;
}
@media only screen and (max-width: 991.98px) {
  .about__name {
    font-size: 30px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 576.98px) {
  .about__name {
    font-size: 25px;
    transition: 0.3s ease-in;
  }
}
.about__row {
  grid-column: 7/span5;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 10px;
}
@media only screen and (max-width: 576.98px) {
  .about__row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.about__education, .about__stack {
  grid-column: 1/span 12;
  padding: 20px 20px;
  text-align: left;
  border: 0.5px solid rgba(136, 117, 105, 0.8);
  border-radius: 10px;
}
@media only screen and (max-width: 991.98px) {
  .about__education, .about__stack {
    padding: 15px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 576.98px) {
  .about__education, .about__stack {
    padding: 10px 15px;
    transition: 0.3s ease-in;
  }
}
.about__education {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media only screen and (max-width: 576.98px) {
  .about__education {
    gap: 8px;
  }
}
.about__edu-container {
  position: relative;
  padding-left: 50px;
}
@media only screen and (max-width: 576.98px) {
  .about__edu-container {
    padding-left: 25px;
    transition: 0.3s ease-in;
  }
}
.about__icon {
  position: absolute;
  display: block;
  left: -1px;
  background-image: url(../../img/graduation-cap.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 34px;
  height: 28px;
}
@media only screen and (max-width: 767.98px) {
  .about__icon {
    width: 28px;
    height: 20px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 576.98px) {
  .about__icon {
    width: 15px;
    transition: 0.3s ease-in;
  }
}
.about__title {
  font-size: 18px;
}
@media only screen and (max-width: 767.98px) {
  .about__title {
    font-size: 14px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 576.98px) {
  .about__title {
    font-size: 12px;
    transition: 0.3s ease-in;
  }
}
.about__edu-text {
  font-size: 16px;
  color: #baafa9;
}
@media only screen and (max-width: 767.98px) {
  .about__edu-text {
    font-size: 12px;
    transition: 0.3s ease-in;
  }
}
@media only screen and (max-width: 576.98px) {
  .about__edu-text {
    font-size: 10px;
    transition: 0.3s ease-in;
  }
}
.about__stack {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-right: 15px;
  padding-left: 15px;
}
.about__stack-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
@media only screen and (max-width: 576.98px) {
  .about__stack-container {
    gap: 5px;
  }
}
.about__progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;
  width: 70%;
}
@media only screen and (max-width: 767.98px) {
  .about__progress-bar {
    gap: 20px;
  }
}
@media only screen and (max-width: 576.98px) {
  .about__progress-bar {
    gap: 16px;
  }
}
.about__progress {
  width: 100%;
  background-color: rgba(136, 117, 105, 0.05);
  border-radius: 10px;
  border: 1px solid rgba(136, 117, 105, 0.3);
}
.about__bar {
  height: 5px;
  border-radius: 10px;
  background-color: rgba(136, 117, 105, 0.3);
}
@media only screen and (max-width: 576.98px) {
  .about__bar {
    height: 3px;
  }
}/*# sourceMappingURL=about.css.map */